#i1{
  height: 400px;
  width: auto;
  border-radius: 90%;
}
h1{
  font-size: 70px;
  font-family: 'Dela Gothic One', cursive;
}
body{
  text-align: center;
  background: linear-gradient( #e62315 0%, #0252f2 50%, #c3e615 1000%);
}
p{
  font-size: 30px;
  color: lime;
}
.links{
    text-align:left;
    font-size:20px;
    font-family: cursive;
    float: right;
    cursor: pointer;
    position: sticky;
    
}
.links:hover{
    background-color:cadetblue
}
.a{
    font-size: 30px;
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(1.1);
}
#apps{
    background-color: coral;
}